## Data Types

In [1]:
#int have integer numbers [ex:(1,2,3,4)]
a=(2)
print(type(a))

<class 'int'>

In [2]:
#flot have dismal numbers [ex:(2.3,4.5,5.6)]
a=(2.3)
print(type(a))

<class 'float'>

In [3]:
#str was denoted semi columns or Double semi columns [ex:'',""]
#combination cherecters (alphabets,numbers,spical cherecters)
a=('ganesh')
print(type(a))

<class 'str'>

In [5]:
#list can hold the multiple data
#it is repersented by []
a=[1,2,3,3.4,'ganesh']
print(type(a))

<class 'list'>

In [7]:
#tuple can hold the multiple data
#it is repersented by ()
a=(1,2,3,3.4,'ganesh')
print(type(a))

<class 'tuple'>

In [8]:
#set can hold the multiple data
#it is repersented by {}
a={1,2,3,3.4,'ganesh'}
print(type(a))

<class 'set'>

In [2]:
#dictionary is created with key val pairs {}
a={'name':'ganesh','age':22,'height':5.11}
print(type(a))

<class 'dict'>

In [12]:
#complex numbers are written with "j" as the imaginary part(ex:a=3+5j,b=5j,c=-5j)
a=3+5j
print(type(a))

<class 'complex'>